.fixedImage {
  width: 300px !important;
  height: 300px;
  object-fit: cover;
  padding: 20px;
  border-radius: 50%;
}

@media (max-width: 500.98px) {
  .profileCard {
    height: 100vh !important;
  }
}

@media (max-width: 500.98px) {
  .fixedImage {
    width: 250px !important;
    height: 250px;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media (max-width: 500.98px) {
  .buttonBox {
    margin-top: 100px !important;
  }
}

@media (max-width: 500.98px) {
  .iconsBox {
    margin-top: 100px !important;
  }
}
